body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/*****************Header*************/

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-title {
    margin: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #ffcc00;
}

main {
    flex: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0px 20px;
}


/********************Body - Foto e Texto******************/

.content-section {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
}

.text-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundead-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.text-content {
    margin-left: 100px;
}

.sub-title {
    font-size: 1,5em;
    margin-bottom: 10px;
}

.text-and-image p {
    max-width: 600px;
    text-align: left;
}

/********************Body - Hobbies e Top 5******************/


.combined-section {
    display: flex;
    justify-content: space-between; 
    margin-top: 40px;
}


.hobbies-section,
.animes-section {
    text-align: center;
}


.hobbies-list,
.animes-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.hobby,
.anime {
    background-color: #f5f5f5;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #d1d0d0;
    
}


.hobby:last-child,
.anime:last-child {
    margin-right: 0;
}


.section-title {
    margin-bottom: 10px;
}


.hobbies-section {
    margin-left: 6%;
}


.animes-section {
    margin-right: 6%;
}


.animes-section .section-title {
    text-align: left;
}


.hobbies-section .section-title {
    text-align: right;
}

.anime:hover {
    background-color: #ddd;
    transition: backgroud-color 0.3s ease;
}

.hobby:hover {
    background-color: #ddd;
    transition: backgroud-color 0.3s ease;
}


/********************Footer******************/


footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social-icons {
    display: flex;
}


.social-icons a {
    color: #fff;
    margin-right: 10px;
}

.contact-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-button:hover {
    background-color: #8f9ae1;
    color: #1c1d1e;
}


/********************@media******************/


@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }


    .header-title {
        margin: 10px;
    }


    header a {
        color: #fff;
        text-decoration: none;
    }
    
    header a:hover {
        color: #ffcc00;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #99ded0;
        text-align: center;
    }


    nav.show-menu ul {
        display: flex;
    }


    nav li {
        margin: 10px, 0;
    }


    .combined-section {
        flex-direction: column;
    }


    .text-and-image {
        flex-direction: column;
    }


    .text-content {
        margin-left: 0;
    }


    .hobbies-section,
    .animes-section {
        margin-left: 0;
        margin-right: 0;
    }


    .animes-section .section-title,
    .hobbies-section .section-title {
        text-align: center;
        margin-bottom: 20px;
    }


    .hobbies-list,
    .animes-list {
        flex-wrap: wrap;
        justify-content: center;


        .hobby,
        .anime {
            margin-bottom: 10px;
        }

    .anime:hover {
    background-color: #ddd;
    transition: backgroud-color 0.3s ease;
}

.hobby:hover {
    background-color: #ddd;
    transition: backgroud-color 0.3s ease;
}
    }


    footer {
        .social-icons {
            margin-top: 10px;
        }


        .social-icons a {
            margin-right: 10px;
        }


        .contact-button:hover {
            background-color: #333;
            color: #fff;
        }
    }
}